:root {
    --border-color:rgb(197, 196, 196);
}

.App {
    height: 100vh;
    overflow: hidden;
}
.left-section {
    float: left;
    width: 21%;
}
.right-section {
    width: 79%;
    float: right;
}