* {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Product Sans',Arial,sans-serif;
}

body,html {
  height: 100%;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.pointer {
  cursor: pointer;
}