.sidebar {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-btn {
    display: inline-block;
    outline: none;
    border: none;
    padding: 8px;
    align-items: center;
    border-radius: 48px;
    color: #222;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 1px 3px 1px rgb(60 64 67 / 15%);
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    height: 40px;
    margin: 10px 0;
    width: 85px;
    font-weight: bold;
}

.create-btn i {
    margin-right: 3px;
}