.month-calendar-container {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color);
    overflow-x: auto;
}

.month-calendar {
    display: grid;
    grid-template-columns: repeat(7,minmax(120px,1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
}

.day-name {
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    text-align: center;
    padding-top: 10px;
}

.events {
    display: flex;
    flex-direction: column;
}