.month-calendar-container {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--border-color);
    overflow-x: auto;
}

.month-calendar {
    display: grid;
    grid-template-columns: repeat(7,minmax(120px,1fr));
    grid-template-rows: 50px;
    grid-auto-rows: 120px;
}

.day-name {
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    text-align: center;
    padding-top: 10px;
}
.date-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todays-date {
    background-color: rgb(248, 200, 42);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-calendar-events {
    display: flex;
    flex-direction: column;
}

.month-calendar-event {
    cursor: pointer;
    text-overflow:ellipsis;
    color: white;
    background-color: rgb(88, 88, 155);
    margin: 2px 1px;
    border-radius: 3px;
    overflow: hidden;
}

.month-calendar-event:hover {
    color: white;
    background-color: rgb(115, 115, 184);
}