.header-main {
    border: 1px solid var(--border-color);
    align-items: center;
    height: 7vh;
}

.header-items {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
}

.header-title img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.header-profile {
    height: 40px;
    width: 40px;
}

.header-profile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(114, 114, 114);
}