.header-main {
    border: 1px solid var(--border-color);
    align-items: center;
    height: 7vh;
}

.header-items {
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    align-items: center;
    justify-content: center;
}

.header-title img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.header-profile {
    height: 40px;
    width: 40px;
    margin-right: 4px;
}

.header-profile img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(114, 114, 114);
}

.header-month {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    flex-direction: start;
    width: 60%;
}

.header-month-change {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
}

.header-month-change > i {
    /* padding: 8px; */
    font-size: x-large;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-month-change > i:hover {
    background-color: rgb(207, 207, 207);
}

.header-month-year {
    position: absolute;
    user-select: none;
    white-space: nowrap;
    font-size: large;
}