.event-form-container {
    padding: 10px;

}
.event-form-header {
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.event-form-container input {
    width: 90%;
    font-size: larger;
    padding: 3px 7px;
    border: none;
}

.event-form-container > * {
    margin: 6px;
}

.event-form-container textarea {
    width: 90.5%;
    border: none;
    font-size: larger;
    padding: 3px 7px;
    height: 60px;
}

.event-form-container .input-labels {
    color: rgb(0, 162, 255);
    font-size: medium;
    opacity: 60%;
}

.event-form-add-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-form-add-btn-wrapper button {
    margin: 7px;
}